//  ---------------------------------------------------------------------------
//                                GRaph Widget
//  ---------------------------------------------------------------------------
.graphVal {
  font-size: 20px;
  background-color: $background3;
  padding: 5px;
  border-radius: 6px;
}

.graphDuration {
  font-size: 12px;
  background-color: $background3;
  padding: 5px;
  border-radius: 6px;
}
