//  ---------------------------------------------------------------------------
//                                Player Widget
//  ---------------------------------------------------------------------------
.player {
  .Right {
    border-radius: 0 10px 10px 0;
    background-color: $bg4;
    padding: 10px 0;
    .button {
      border-radius: 10px;
      .iconBtn {
        font-size: 20px;
      }
      &:hover {
        background-color: $select;
        .iconBtn {
          color: $yellow;
        }
      }
    }
  }
  .Left {
    .cover {
      background-size: cover;
      border-radius: 10px 0 0 10px;

      background-position: center;
      background-repeat: no-repeat;
    }
    .translucent {
      border-radius: 10px 0 0 10px;
      background-color: $select;
    }
    .info {
      padding: 0 10px;
      .artist {
        color:rgb(226, 224, 224);
        font-size: 24px;
        font-weight: bold;
      }
      .track {
        color:rgb(226, 224, 224);
        font-size: 20px;
      }
    }
    .sliderScale {
      trough {
        background-color: transparent;
        min-height: 12px;
  
        highlight {
          background-color: $gray;
          border-top: 2px solid $bg1;
          border-radius: 0 0 0 10px;
        }
      }
    }
  }
}
