.shBtn {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: $background2;
  min-width: 50px;
  min-height: 50px;
  background-size: 70%;

  &.active {
    border: $border;
  }
}

.shBtnNname {
  font-weight: 900;
  font-size: 20px;
}

.shBtnBlock {
  padding: 10px;

  &:hover {
    .shBtn {
      background-size: 50%;
      background-color: $color4;
    }

    .shBtnNname {
      color: $foreground;
    }
  }
}
