.settings {
  .btnLeft {
    border-radius: 6px 0 0 6px;
    background-color: $background3;

    &:hover {
      background-color: $color4;
    }
  }
  .btnRight {
    border-radius: 0 6px 6px 0;
    background-color: $background3;

    &:hover {
      background-color: $color4;
    }
  }
  .checkbox {
    background-color: $background2;
    border-radius: 6px;
    .checkTxt {
      font-size: 20px;
      padding-right: 10px;
    }
    &:hover {
      background-color: $color4;
    }
  }
  .settingsLbl {
    font-size: 24px;
  }
}
