.CcTop {
  padding-left: 5px;
  .iconR {
    font-size: 30px;
    font-weight: bold;
  }
  .mediumText {
    font-size: 20px;
  }
  .titleBtn {
    border: $border;
    border-color: transparent;
    border-radius: 5px;
    &:hover {
      .iconR {
        color: $color4;
      }
    }
  }
  .optionBtn {
    border: $border;
    border-color: transparent;
    border-radius: 5px;
    background-color: $background2;
    &:hover {
      background-color: $color4;
      .iconR {
        color: $color4;
      }
    }
  }
  .value {
    font-weight: bold;
    font-size: 20px;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
