//  ---------------------------------------------------------------------------
//                                Bar Widgets
//  ---------------------------------------------------------------------------
.bar_widget{
  background-color: $bg1;
  border: $border;
  // border-color: $bg2;
  border-radius: 12px;
  padding: 0 10px;
}
.bar_module {
  margin: 0px 5px;
}
.bar_icon{
  padding: 0px 8px;
  font-size: 18px;
}
.slide{
  font-size: 16px;
}
//  ---------------------------------------------------------------------------
//                               Workspaces Widget
//  ---------------------------------------------------------------------------
.workspace_label{
  font-size: 16px;
  font-weight: bold;
  padding: 0 5px 0 5px;
}
.workspacesBox {
  border-radius: $border_radius;
  margin: 3px 5px;
  // border:$border;
}
.inactiveWorkspace {
  padding: 0 10px;
  background-color: transparent;
  &:hover{
    background-color: $softgray;
  }
}
.emptyWorkspace {
  padding: 0 15px;
  background-color: $fg2;
}
.activeWorkspace {
  padding: 0 25px;
  background-color: $softgray;
}