//  ---------------------------------------------------------------------------
//                                Bar Widgets
//  ---------------------------------------------------------------------------
.bar_widget{
  background-color: $bg1;
  border: $border;
  border-radius: $border_radius;
  padding: 0 10px;
}
.bar_module {
  border: 1px solid rgba(0, 0, 0, 0.572);
  margin: 5px 1px;
  background-color: $select;
  padding: 0 10px;
}
.barLeft{
  border-radius: 10px 0 0 10px;
}
.barRight{
  border-radius:  0 10px 10px 0;
}
.bar_icon{
  padding: 0px 8px;
  font-size: 18px;
}
.slide{
  font-size: 16px;
}

//  ---------------------------------------------------------------------------
//                               Workspaces Widget
//  ---------------------------------------------------------------------------
// .workspace_label{
//   font-size: 16px;
//   font-weight: bold;
// }
.workspacesBox {
  border-radius: $border_radius;
  margin: 8px 3px;
}
.inactiveWorkspace {
  padding: 0 15px;
  background-color: $softgray;
  &:hover{
    background-color: $softgray;
  }
}
.emptyWorkspace {
  padding: 0 15px;
  background-color: $fg2;
}
.activeWorkspace {
  padding: 0 30px;
  background-color: $fg1;
}