.desktop{
    padding: 20px;
}
.desktopText{
    color: $fg1;
    font-weight: bold;
    background-color: transparent;
}
.large{
    font-weight: 900;
    font-size: 50px;
}
.medium{
    font-size: 40px;
}
.small{
    font-size: 22px;
}
.smaller{
    font-size: 18px;
}