@import './vars.scss';
@import './bar.scss';
@import './calendar.scss';
@import './control-center.scss';
@import './desktop.scss';

//  ---------------------------------------------------------------------------
//                                     Window
//  ---------------------------------------------------------------------------
* {
  all: unset;
  font-family: "Iosevka NF";
  font-size: 16px;
  transition: all 0.3s ease-out;
  color: $fg1;
  background-color: transparent;
  text-shadow: $text_shadow;
}
.main_container{
  background-color: $bg1;
  border-radius: $border_radius;
  padding: 10px;
  margin: 10px;
  border: $border;
}
.block {
  background-color: $bg2; 
  border-radius: 10px;
  padding: 15px;
}
.sub_block{
  padding: 5px;
  margin: 10px;
}
.block_icon {
  font-size: 24px;
}
.block_large_icon {
  font-size: 42px;
}
.block_medium_icon {
  font-size: 32px;
}
.block_small_icon{
  font-size: 20px;
}
.block_text{
  font-size: 16px;
  font-weight: bold;
}
.block_large_text{
  font-size: 23px;
  font-weight: bold;
}
.block_medium_text{
  font-size: 18px;
}
.block_small_text{
  font-size: 16px;
}
.block_name{
  font-weight:900;
  font-size: 20px;
}
.block_label {
  font-size: 16px;
}
.block_img_small_icon{
  font-size: 32px;
}
.block_img_medium_icon{
  font-size: 40px;
}
.entry_block{
  padding: 5px 20px;
}
.block_scroll{
  margin: 20px;
  border:$border; 
  border-radius:$border_radius; 
  padding:10px;
}
.block_btn {
  background-color: $bg2; 
  border-radius: 5px;
  font-size: 20px;
  border: $border;
  border-color: transparent;
  &:hover{
      background-color: $softgray;
      border:$border;
      border-color: $yellow;
  }
}
.lbl_btn{
  background-color: $bg2;
  border: $border;
  border-radius: 6px;
}
.lbl_no_active{
  background-color: transparent;
  border-color: transparent;
  border-radius: 6px;
  &:hover{
  background-color: $softgray;
  }
}
.lbl_active{
  background-color: $softgray;
  border-color: $yellow;
}
.flat_btn{
  font-size: 12px;
  background-color: $bg1;
  padding: 5px;
  border-radius: 6px;
  &:hover{
    background-color: $softgray;
  }
}
.title{
  font-size: 24px;
  margin: 10px;
}
.color_red{
  color: $red;
}
.color_green{
  color: $green;
}
.color_yellow{
  color: $yellow;
}
.img_cont:hover{
  .img_block{
      border-color: $yellow;
  }
  .img_bg{
      background-size:120%;
  }
}
.img_bg{
  min-height:90px;
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
}
.img_block{
  border: $border;
  padding: 5px;
  border-radius: 10px;
}
.input{
  border-radius: 5px;
  background-color: $select;
}


//  ---------------------------------------------------------------------------
//                                  Tooltip 
//  ---------------------------------------------------------------------------
tooltip{
  border-radius: 5px;
  border: $border;
  color: $fg1;
  text-shadow: $text_shadow;
  background-color: $bg1;
}