@import './vars.scss';
@import './bar.scss';
@import './calendar.scss';
@import './desktop.scss';
@import './app_launcher.scss';
@import './control_center.scss';
@import './power.scss';
@import './popup.scss';

//  ---------------------------------------------------------------------------
//                                     Window
//  ---------------------------------------------------------------------------
* {
  all: unset;
  font-family: "Iosevka NF";
  font-size: 16px;
  transition: all 0.3s ease-out;
  color: $foreground;
  background-color: transparent;
  text-shadow: $text_shadow;
}
.main_container{
  background-color: $background;
  border-radius: $border_radius;
  padding: 15px;
  margin: 10px;
  border: $border2;
}
.sub_container{
  background-color: $background;
  border-radius: $border_radius;
  padding: 10px;
  border: $border2;
}
.block {
  background-color: $background2; 
  border-radius: 6px;
  padding: 10px;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.trasparentBG {
  background-color: transparent;
}
//  ---------------------------------------------------------------------------
//                                  Tooltip 
//  ---------------------------------------------------------------------------
tooltip{
  border-radius: 6px;
  border: $border;
  color: $foreground;
  text-shadow: $color9;
  background-color: $background;
}