@import "./colors.scss";

//  ---------------------------------------------------------------------------
//                                     Vars
//  ---------------------------------------------------------------------------

$green: #09611f;
$red: #cc241d;
$yellow: #9a5f24;
$blue: #333346;

$background2:  lighten($background, 10%);
$background3:  lighten($background, 20%);
$foreground2:  lighten($background3, 20%);

$translucent: rgba($background, 0.5);
$translucent2:  rgba($background, 0.3);
$translucent3: rgba($background3, 0.6);

$text_shadow: 1px 1px 2px darken($foreground, 90%);
$border_radius: 15px;
$border: 1px solid $color3;
$border2: 2px solid $color3;
