//  ---------------------------------------------------------------------------
//                                     Vars
//  ---------------------------------------------------------------------------

$green: #09611f;
$red: #cc241d;
$yellow: #9a5f24;
$blue: #333346;
$gray: #a89984;
$softgray: #5a524c;
$darkgray: #3a3937;

$fg1: #a89984;
$fg2: rgba(238, 238, 238, 0.2);
$bg1: #282828;
$bg2: rgba(77, 69, 64, 0.8);
$bg3: #3f3740;
$bg4: #494949;

$select: rgba(77, 69, 64, 0.8);
$text_shadow: 1px 1px 2px black;

$border_radius: 15px;
$border: 1px solid $gray;
$border2: 2px solid $gray;
